{#- Create custom root models as annotated alias types #}
{% set field = fields[0] %}
{% if field.annotated %}
{{ class_name }} = {{ field.annotated}}
{% else %}
{#- Below is the default template from the datamodel-code-generator library #}
{% for decorator in decorators -%}
{{ decorator }}
{% endfor -%}
class {{ class_name }}({{ base_class }}):{% if comment is defined %}  # {{ comment }}{% endif %}
{%- if description %}
    """
    {{ description | indent(4) }}
    """
{%- endif %}
{%- if config %}
    class Config:
    {%- for field_name, value in config.dict(exclude_unset=True).items() %}
        {{ field_name }} = {{ value }}
    {%- endfor %}
{%- endif %}
{%- if not fields and not description %}
    pass
{%- else %}
    {%- set field = fields[0] %}
    {%- if not field.annotated and field.field %}
    __root__: {{ field.type_hint }} = {{ field.field }}
    {%- else %}
    __root__: {{ field.type_hint }}
    {%- endif %}
    {%- if not (field.required or (field.represented_default == 'None' and field.strip_default_none))
            %} = {{ field.represented_default }}
    {%- endif -%}
    {%- endif %}
    {%- if field.docstring %}
    """
    {{ field.docstring | indent(4) }}
    """
    {%- endif %}
{%- endif %}
