{% for decorator in decorators -%}
{{ decorator }}
{% endfor -%}
class {{ class_name }}({{ base_class }}):
{%- if description %}
    """
    {{ description | indent(4) }}
    """
{%- endif %}
{%- for field in fields %}
    {#- Adds a capitalized member name for each default generated enum member #}
    {{ field.name | upper }} = {{ field.name ~ " = " if field.name | upper != field.name }}{{ field.default }}
    {%- if field.docstring %}
    """
    {{ field.docstring | indent(4) }}
    """
    {%- endif %}
{%- endfor %}

    {#- Adds the `__str__` method to the default template #}
    def __str__(self) -> str:
        return str(self.value)

    {#- Adds the `_missing_` method to the default template #}
    @classmethod
    def _missing_(cls, value: object):
        return next((member for member in cls if member.name in {str(value), str(value).upper()}), None)
